*{
    padding: 0;
    margin: 0;
}
.topHeader {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(229, 224, 224);
}
.topSocial ul{
    display: flex;
}
.topSocial ul li{
    list-style: none;
    padding: 10px;
}
.topAddress ul{
    display: flex;
}
.topAddress ul li{
    list-style: none;
    padding: 10px;
}
/* navbar */
.downHeader{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 10px;
}
.navLink ul{
    display: flex;
}
.navLink ul li{
    padding: 10px;
    list-style: none;
    font-size: 22px;
}
.navAccount ul{
    display: flex;
}
.navAccount ul li{
    list-style: none;
    padding: 10px;
    font-size: 22px;
}